# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Dependencies
web_modules/
node_modules/
jspm_packages/
bower_components/

# Lockfile
bun.lockb
yarn.lock
pnpm-lock.yaml
package-lock.json

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Distribution
out
dist
build
package
coverage
web-build

# Cache
.npm
.next
.nuxt
.expo
.temp
.cache
.vercel
.DS_Store
.svelte-kit
.eslintcache
.parcel-cache
.stylelintcache

# Env
.env*.local

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
